* {
  box-sizing: border-box;
}

body {
  background: #2A2A2A;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

span {
  background: #2A2A2A;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

/******* first dice *******/
.first-face {
  display: flex;
  background: #E7E7E7;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
}

.first-face span:nth-of-type(1) {
  align-self: center;
}

/******* second dice *******/
.second-face {
  display: flex;
  background: #E7E7E7;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-between;
}

.second-face span:nth-of-type(1) {
  align-self: flex-start;
  margin: 10px;
}

.second-face span:nth-of-type(2) {
  align-self: flex-end;
  margin: 10px;
}

/******* third dice *******/
.third-face {
  display: flex;
  background: #E7E7E7;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-between;
}

.third-face span:nth-of-type(1) {
  align-self: flex-start;
  margin: 10px;
}

.third-face span:nth-of-type(2) {
  align-self: center;
  margin: 10px;
}

.third-face span:nth-of-type(3) {
  align-self: flex-end;
  margin: 10px;
}

/******* fourth dice *******/
.fourth-face {
  display: flex;
  background: #E7E7E7;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  flex-direction: column;
}

.fourth-face .column  {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.fourth-face .column:nth-of-type(1) span:nth-of-type(1) {
  margin: 10px;
}

.fourth-face .column:nth-of-type(1) span:nth-of-type(2) {
  margin: 10px;
}

.fourth-face .column:nth-of-type(2) span:nth-of-type(1) {
  margin: 10px;
  align-self: flex-end;
}

.fourth-face .column:nth-of-type(2) span:nth-of-type(2) {
  margin: 10px;
  align-self: flex-end;
}

/******* fifth dice *******/
.fifth-face {
  display: flex;
  background: #E7E7E7;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  flex-direction: column;
}

.fifth-face .column {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.fifth-face .column:nth-of-type(1) span:nth-of-type(1) {
  margin: 10px;
}

.fifth-face .column:nth-of-type(1) span:nth-of-type(2) {
  margin: 10px;
}

.fifth-face .column:nth-of-type(3) span:nth-of-type(1) {
  margin: 10px;
}

.fifth-face .column:nth-of-type(3) span:nth-of-type(2) {
  margin: 10px;
}

.fifth-face .column:nth-of-type(2){
  justify-content:center;
}

.fifth-face .column:nth-of-type(2) span:nth-of-type(1) {
  margin: 10px;
}


/******* sixth dice *******/
.sixth-face {
  display: flex;
  background: #E7E7E7;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  justify-content: space-between;
}
